
* {margin: 0%;
  box-sizing: border-box;
  padding: 0%;
}


/* Personalização da body */
body{
    background-image: url("https://cdn.akamai.steamstatic.com/store/home/store_home_share.jpg");
    background-size: cover;
    background-attachment: fixed;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
/* Fim personalização da body */






/* Personalização do menu */
ul{ display:flex;
    justify-content:space-around;
    list-style: none;
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bolder;
    padding:10px;
    background-color: rgba(0, 0, 0, 0.5);  
}


          #menuF ul a{font-size: 28px;
              color: white;
              text-decoration: none;
             

          }

          

            #menuF ul a:hover{
              transition: all .5s;
            border: 10px solid transparent;
            }


.corpoF{text-align:center;
  background-color: rgba(241, 239, 239, 0.5);
  margin-left: 300px;
  margin-right: 300px;
}
.corpoF h1{
  color: white;
 text-decoration: none;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.corpoF{
  transition: all .5s;
  border: 10px solid transparent;
}
.container .card p{
    font-family: "Silkscreen";
}
a .align-self-end{
    font-family: "Silkscreen";
}

.container{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 150px 20px;
    margin-top: 30px;
  }
  .container .card{
    width: 400px;
    height: 380px;
    padding: 30px 10px;
    text-align: center;
    background:rgb(250, 249, 249);
    box-shadow: 2px 5px 15px rgb(104, 104, 104);
    transition: 0.5s;
    color: #09e8f0;
    margin-left: 50px;
    margin: #282a2c;
    display: flex;    
}
h1{
    padding: 0;
    
}
h2{
    font-size: 25px;
    font-family: "Silkscreen";

}
h3{
    font-size: 20px;
    
    
}
.container .card img{
    border-radius: 100px;
}
.container .card:first-child{
    margin-left: 0;
}
.container .card:hover{
    background-color: rgb(4, 4, 73);
    box-shadow: 2px 5px 15px rgb(4, 4, 73);
    color:#ffffff;
    transform: scale(1.100); /*Serve pra aumentar o card quando passamos o curso no mouse   */
}


.equipeF{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5px;
  
}

.card{
  display: flex;
  margin: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1) !important; 
  
  
} 

#equipename{
  margin-left: 50px;
  margin-top: 10px;

}

#equipenameL{
  margin-left: 30px;
  margin-top: 6px;

}

#equipenameM{
  margin-left: 28px;
  margin-top: 12px;

}

#equipenameG{
  margin-left: 23px;
  margin-top: 7px;

}

#equipenameLS{
  margin-left: 50px;
  margin-top: 7px;
}


.card a img{
  transition: all .5s;
  border: 2px solid transparent;
}



#equipeimg{
  transition: all .5s;
  border: 5px solid transparent;
  border-radius: 50%;
}

#equipeimg:hover{
  border: 5px solid #dba986;
  border-radius: 50%;

}

